@keyframes up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-115%);
  }
}

@keyframes double-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-230%);
  }
}

@keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(115%);
  }
}

@keyframes double-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(230%);
  }
}

@keyframes double-up-right {
    0% {
        transform: translateY(0);
      }
      60% {
        transform: translateY(-230%);
      }
      100% {
        transform: translateY(-230%) translateX(115%);
      }
  }

  @keyframes down-right {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateX(115);
    }
    100% {
        transform: translateX(115) translateX(115%);
      }
  }

@keyframes left {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-115%);
  }
}

@keyframes right {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(115%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes double-down-right {
    0% {
        transform: translateY(230%);
      }

      100% {
        transform: translateY(345%) translateX(115%)
      }
  }

  @keyframes double-down-right-out {
    0% {
        transform: translateY(345%) translateX(115%)
      }

      100% {
        opacity: 0;
      }
  }
  
  @keyframes  double-up-out {
    0% {
        transform: translateY(-230%);
      }
      100% {
        opacity: 0;
      }
  }

  @keyframes up-double-right {
    0% {
        transform: translateY(-230%) translateX(115%);
      }
      60% {
        transform: translateY(-345%) translateX(115%);
      }
      100% {
        transform: translateY(-345%) translateX(345%);
      }
  }

 @keyframes down-double-right  {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(115%);
      }
      100% {
        transform: translateY(115%) translateX(230%);
      }
 }

  @keyframes up-right {
    0% {
      transform: translateY(0);
    }
    100% {
        transform: translateY(-115%) translateX(115%);
      }
  }

  @keyframes double-down-left  {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(230%);
      }
      100% {
        transform: translateY(230%) translateX(-115%);
      }
 }

 @keyframes double-up-left  {
    0% {
        transform: translateY(-345%) translateX(345%);
      }
      100% {
        transform: translateY(-575%) translateX(230%);
      }
 }
