.black-tiles,
.white-tiles {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  aspect-ratio: 1/1;
}

.black-tiles {
  background-color: $black-tiles;
}

.white-tiles {
  background-color: $white-tiles;
}

.side-tiles {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: $black-color;
  font-size: 10px;
  font-family: $font-stack;
}
