.black-tiles,
.white-tiles {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  aspect-ratio: 1/1;
}

.black-tiles {
  background-color: #320000;
}

.white-tiles {
  background-color: #ded6d6;
}

.side-tiles {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #080202;
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
}

@-webkit-keyframes up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-115%);
  }
}

@keyframes up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-115%);
  }
}
@-webkit-keyframes double-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-230%);
  }
}
@keyframes double-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-230%);
  }
}
@-webkit-keyframes double-up-out {
  0% {
    transform: translateY(-230%);
  }
  100% {
    opacity: 0;
    transform: translateY(-230%);
  }
}
@keyframes double-up-out {
  0% {
    transform: translateY(-230%);
  }
  100% {
    opacity: 0;
    transform: translateY(-230%);
  }
}
@-webkit-keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(115%);
  }
}
@keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(115%);
  }
}
@-webkit-keyframes double-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(230%);
  }
}
@keyframes double-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(230%);
  }
}
@-webkit-keyframes double-down-right {
  0% {
    transform: translateY(230%);
  }
  100% {
    transform: translateY(345%) translateX(115%);
  }
}
@keyframes double-down-right {
  0% {
    transform: translateY(230%);
  }
  100% {
    transform: translateY(345%) translateX(115%);
  }
}
@-webkit-keyframes double-down-right-out {
  0% {
    transform: translateY(345%) translateX(115%);
  }
  100% {
    transform: translateY(345%) translateX(115%);
    opacity: 0;
  }
}
@keyframes double-down-right-out {
  0% {
    transform: translateY(345%) translateX(115%);
  }
  100% {
    transform: translateY(345%) translateX(115%);
    opacity: 0;
  }
}
@-webkit-keyframes double-up-right {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-230%);
  }
  100% {
    transform: translateY(-230%) translateX(115%);
  }
}
@keyframes double-up-right {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-230%);
  }
  100% {
    transform: translateY(-230%) translateX(115%);
  }
}
@-webkit-keyframes down-right {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(115);
  }
  100% {
    transform: translateX(115) translateX(115%);
  }
}
@keyframes down-right {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(115);
  }
  100% {
    transform: translateX(115) translateX(115%);
  }
}
@-webkit-keyframes left {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-115%);
  }
}
@keyframes left {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-115%);
  }
}
@-webkit-keyframes right {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(115%);
  }
}
@keyframes right {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(115%);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes up-double-right {
  0% {
    transform: translateY(-230%) translateX(115%);
  }
  60% {
    transform: translateY(-345%) translateX(115%);
  }
  100% {
    transform: translateY(-345%) translateX(345%);
  }
}
@keyframes up-double-right {
  0% {
    transform: translateY(-230%) translateX(115%);
  }
  60% {
    transform: translateY(-345%) translateX(115%);
  }
  100% {
    transform: translateY(-345%) translateX(345%);
  }
}
@-webkit-keyframes down-double-right {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(115%);
  }
  100% {
    transform: translateY(115%) translateX(230%);
  }
}
@keyframes down-double-right {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(115%);
  }
  100% {
    transform: translateY(115%) translateX(230%);
  }
}
@-webkit-keyframes up-right {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-115%) translateX(115%);
  }
}
@keyframes up-right {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-115%) translateX(115%);
  }
}
@-webkit-keyframes double-down-left {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(230%);
  }
  100% {
    transform: translateY(230%) translateX(-115%);
  }
}
@keyframes double-down-left {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(230%);
  }
  100% {
    transform: translateY(230%) translateX(-115%);
  }
}
@-webkit-keyframes double-up-left {
  0% {
    transform: translateY(-345%) translateX(345%);
  }
  100% {
    transform: translateY(-575%) translateX(230%);
  }
}
@keyframes double-up-left {
  0% {
    transform: translateY(-345%) translateX(345%);
  }
  100% {
    transform: translateY(-575%) translateX(230%);
  }
}
.white-pawn-e {
  -webkit-animation: double-up 1000ms ease forwards, double-up-out 1000ms ease 5000ms forwards;
          animation: double-up 1000ms ease forwards, double-up-out 1000ms ease 5000ms forwards;
}

.black-pawn-c {
  -webkit-animation: down 1000ms ease 1000ms forwards;
          animation: down 1000ms ease 1000ms forwards;
}

.white-pawn-d {
  -webkit-animation: double-up 1000ms ease 2000ms forwards;
          animation: double-up 1000ms ease 2000ms forwards;
}

.black-pawn-d {
  -webkit-animation: double-down 1000ms ease 3000ms forwards, double-down-right 1000ms ease 5000ms forwards, double-down-right-out 1000ms ease 6500ms forwards;
          animation: double-down 1000ms ease 3000ms forwards, double-down-right 1000ms ease 5000ms forwards, double-down-right-out 1000ms ease 6500ms forwards;
}

.white-knight-b {
  -webkit-animation: double-up-right 1000ms ease 4000ms forwards, up-double-right 1000ms ease 6000ms forwards, double-up-left 1000ms ease 10500ms forwards;
          animation: double-up-right 1000ms ease 4000ms forwards, up-double-right 1000ms ease 6000ms forwards, double-up-left 1000ms ease 10500ms forwards;
}

.black-knight-b {
  -webkit-animation: down-double-right 1000ms ease 7500ms forwards;
          animation: down-double-right 1000ms ease 7500ms forwards;
}

.white-queen {
  -webkit-animation: up-right 1000ms ease 8500ms forwards;
          animation: up-right 1000ms ease 8500ms forwards;
}

.black-knight-g {
  -webkit-animation: double-down-left 1000ms ease 9500ms forwards;
          animation: double-down-left 1000ms ease 9500ms forwards;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 440px;
  min-height: 500px;
  padding-bottom: 15vh;
  overflow: hidden;
  background-image: url(./assets/background.png);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

h1 {
  padding-top: 7vh;
  padding-bottom: 5vh;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  color: #080202;
}

.container {
  display: grid;
  grid-template-columns: 1fr repeat(8, 2fr) 1fr;
  grid-template-rows: 1fr repeat(8, 2fr) 1fr;
  color: #ded6d6;
  position: fixed;
  width: 40vw;
  min-width: 200px;
  margin-left: 30%;
}

.invert {
  transform: scale(-1);
}

img {
  display: grid;
  position: absolute;
  width: 90%;
  aspect-ratio: 1/1;
  z-index: 1;
}/*# sourceMappingURL=styles.css.map */